@import "./tailwind";
@import "./font";

html, body {
    font-family: 'Geist',-apple-system,'BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
    color: #222222;
}

.u-page-scroll-active {
    .change-size-transform {
		transform: scale(0.4,0.7272727272727273) translate(60px,-122px);
		transition: transform 250ms cubic-bezier(0.2,0,0,1),opacity 150ms 100ms cubic-bezier(0.2,0,0,1),visibility 0ms 125ms;
		-webkit-transition: transform 250ms cubic-bezier(0.2,0,0,1),opacity 150ms 100ms cubic-bezier(0.2,0,0,1),visibility 0ms 125ms;
		opacity: 0;
		visibility: hidden;
	}

    header {
        &.transform-header-height {
            height: calc(5rem + var(--padding-bottom) / 2) !important;
            @apply sticky top-0;

            @media (max-width: 768px) {
                height: 77px !important;
            }
    
            .custom-z {
                z-index: 99999;
            }
        }
    }

    .u-navbar-search-small__active {
        left: 50%;
        top: 0;
        position: absolute;
        /* transform: scale(2.4,1.375) translate(-20%, -90%); */
        transform: scale(1) translate(-50%, 50%) !important;
        transition: transform 250ms cubic-bezier(0.2,0,0,1),opacity 150ms 100ms cubic-bezier(0.2,0,0,1),visibility 0ms 125ms !important;
        -webkit-transition: transform 250ms cubic-bezier(0.2,0,0,1),opacity 150ms 100ms cubic-bezier(0.2,0,0,1),visibility 0ms 125ms !important;
        opacity: 1 !important;
        visibility: visible !important;
    } 
}

.cb {
    .change-size-transform {
		transform: scale(1) !important;
		transition: transform 250ms cubic-bezier(0.2,0,0,1),opacity 150ms 100ms cubic-bezier(0.2,0,0,1),visibility 0ms 125ms;
		-webkit-transition: transform 250ms cubic-bezier(0.2,0,0,1),opacity 150ms 100ms cubic-bezier(0.2,0,0,1),visibility 0ms 125ms;
		opacity: 1 !important;
		visibility: visible !important;
	}

    .transform-header-height {
        &::after {
            will-change: transform;
            transform: scaleY(1.95);
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            transform-origin: 50% 0;
            transition: transform 250ms cubic-bezier(0.2,0,0,1);
            width: 100%;
            height: 100%;
            z-index: 10000;
            background: #FFFFFF;
        }
    }

    .u-navbar-search-small__active {
        &.override--u-navbar-search-small__active {
            opacity: 0 !important;
            visibility: hidden !important;
        }
    }

    .u-overlay {
        @apply fixed top-0 bottom-0 left-0 right-0 bg-[rgba(0,0,0,25%)];
        z-index: 99 !important;
        transition: transform 250ms cubic-bezier(0.2, 0, 0, 1), opacity 150ms 100ms cubic-bezier(0.2, 0, 0, 1), visibility 0ms 125ms !important;
    }
}

@media (max-width: 768px) {
    .support-mobile-view {
        .destination-dropdown-menu {
            left: 50% !important;
            width: 90% !important;
            top: 5.5rem !important;
            transform: translateX(-50%) !important;
            padding: 1.25rem 0 !important;
    
            h1 {
                padding: 0 1.25rem !important;   
            }

            .u-destination-input-wrapper {
                margin: 1rem 1.25rem !important;
                border: 1px solid #b1b1b1;
                height: 55px;
                border-radius: 8px;
                overflow: hidden;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                vertical-align: middle;
                transition: .3s all;

                &:has(input[type="text"]:focus) {
                    border: 1px solid #222222;
                    transition: .3s all;
                }

                .search-icon {
                    height: inherit;
                    width: 66px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                input[type="text"] {
                    height: inherit;
                    outline: 0;
                    border: 0;
                    width: 100%;
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                    font-weight: 500;

                    &::placeholder {
                        font-weight: 500;
                        font-size: 14px;
                        color: #717171;
                        line-height: 1.25rem;
                    }
                }
            }
            
            .u-destination-lists {
                display: flex;
                overflow-x: scroll;
                scrollbar-width: none;
                position: relative;
                column-gap: 1.25rem;
    
                &::after,
                &::before {
                    content: '';
                    width: 1.25rem;
                }
            }
        }

        .guest-dropdown-menu {
            left: 50% !important;
            width: 90% !important;
            top: 5.5rem !important;
            transform: translateX(-50%) !important;

            .u-guest-item {
                width: 100% !important;
                padding-top: 1.25rem !important;
                padding-bottom: 1.25rem !important;

                .u-guest-button {
                    .u-guest-icon-circle {
                        width: 32px;
                        height: 32px;
                    }
                }
            }
        }

        .u-overlay {
            &.dropdowns-opened {
                @apply fixed top-0 bottom-0 left-0 right-0 bg-[rgba(0,0,0,25%)];
                z-index: 99 !important;
                transition: transform 250ms cubic-bezier(0.2, 0, 0, 1), opacity 150ms 100ms cubic-bezier(0.2, 0, 0, 1), visibility 0ms 125ms !important;
            }
        }

        .u-map-pill {
            &.u-map-pill__bottom {
                transform: translateY(0);
            }
        }
    }
}